# rvl-linux/data/*
# !rvl-linux/data/Robotiq3Finger
# !rvl-linux/data/Robotiq3Finger/**
**/build/
**/devel/
**/logs/
**/test/
**/data/
**/.catkin_tools
Helper3D-master/
**/__pycache__/
.claude/
*.dat

LOG/
*.log
**/data/images/