<?xml version="1.0"?>
<robot name="sphere">
    <link name="world" />
    <joint name="virtual_joint" type="fixed">
        <parent link="world" />
        <child link="link_sphere" />
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </joint>
    <link name="link_sphere">
        <inertial>
            <origin xyz="0 0 0" />
            <mass value="1" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
            <gravity>false</gravity>
        </inertial>
        <visual>
            <origin xyz="0 0 0" />
            <geometry>
                <sphere radius="0.005" />
            </geometry>

        </visual>
    </link>
    <static>true</static>



</robot>